@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
