
/* Backgrounds */

.bg-dark-fade {
    background: linear-gradient(#1D1518, #16151D) !important;
}


/* Fonts */

.font-circular {
  font-family: 'CircularStdBold' !important;
}

.font-opensans {
  font-family: 'Open Sans', sans-serif;
}


/* Extensions */

.rounded-xl {
  border-radius: 0.75rem;
}

.noselect {
  user-select: none;
}

.rotated180 {
  transform: rotate(180deg);
}


/* Animations */

.slideInTop {
  animation: slideInTop 1.5s;
}
@keyframes slideInTop {
  0% {transform: translateY(-101vw);}
  100% {transform: translateY(0vw);}
}

.slideInRight {
  animation: slideInRight 1.5s;
}
@keyframes slideInRight {
  0% {transform: translateX(101vw);}
  100% {transform: translateX(0vw);}
}

.slideInBottom {
  animation: slideInBottom 1.5s;
}
@keyframes slideInBottom {
  0% {transform: translateY(101vw);}
  100% {transform: translateY(0vw);}
}

.slideInLeft {
  animation: slideInLeft ease 1.5s
}
@keyframes slideInLeft {
  0% {transform: translateX(-101vw);}
  100% {transform: translateX(0vw);}
}


.slideOutTop {
  animation: slideOutTop 1.5s;
}
@keyframes slideOutTop {
  0% {transform: translateY(0);}
  100% {transform: translateY(-101vw);}
}

.slideOutRight {
  animation: slideOutRight 1.5s;
}
@keyframes slideOutRight {
  0% {transform: translateX(0);}
  100% {transform: translateX(101vw);}
}

.slideOutBottom {
  animation: slideOutBottom 1.5s;
}
@keyframes slideOutBottom {
  0% {transform: translateY(0);}
  100% {transform: translateY(101vw);}
}

.slideOutLeft {
  animation: slideOutLeft 1.5s;
  animation-fill-mode: forwards;
}
@keyframes slideOutLeft {
  0% {transform: translateX(0);}
  100% {transform: translateX(-101vw);}
}

.rotate180 {
  animation: rotate180 ease 1s;
  animation-fill-mode: forwards;
}

@keyframes rotate180 {
  0% { transform: rotate(360deg); margin-right: 5rem; }
  100% { transform: rotate(180deg); margin-right: 1.5rem; }
}

.rotate180back {
  animation: rotate180back ease 1s;
  animation-fill-mode: forwards;
}

@keyframes rotate180back {
  0% { transform: rotate(180deg); margin-right: 1.5rem; }
  100% { transform: rotate(0deg); margin-right: 5rem; }
}


.expandPanel {
  animation: expandPanel ease 2s;
  animation-fill-mode: forwards;
}

@keyframes expandPanel {
  0% {width: 0%;}
  100% {width: 40%;}
}

.collapsePanel {
  animation: collapsePanel ease 2s;
  animation-fill-mode: forwards;
}

@keyframes collapsePanel {
  0% {width: 40%;}
  100% {width: 0%;}
}
