
/* TailwindCSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-gradient {
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


/* Custom CSS */

.bg {
    background-image: url("/images/bg.png");
    background-repeat: repeat;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.font-proxima {
    font-family: "proxima-soft", sans-serif;
}