
/* TailwindCSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-gradient {
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


/* Custom CSS */

body {
    background-image: url("/images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.w-100 {
    width: 25rem;
}

.h-112 {
    height: 28rem;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.font-proxima {
    font-family: "proxima-soft", sans-serif;
}