
/* TailwindCSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-gradient {
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


/* Custom CSS */

body {
    min-height: 100vh;
    background-image: url("/images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
