@import "tailwindcss";

:root {
  --border: #1a3a1a;
}

@theme inline {
  --color-border: var(--border);
  --color-secondary: #8fbf8f;

  --text-xxs: 10px;
  --text-sm: 16px;
  --text-base: 18px;
  --text-lg: 20px;
  --text-xl: 24px;
  --text-2xl: 28px;
  --text-3xl: 32px;
  --text-4xl: 48px;
}

body {
  font-family: var(--font-karla);
  color: #ffffff;
}

.font-micro5 {
  font-family: var(--font-micro5);
}

.highlight-icon {
  transition: transform 200ms;
  transform: rotate(0deg);
}

.group:hover .highlight-icon,
.group:focus-visible .highlight-icon {
  transform: rotate(var(--highlight-icon-rotate, -12deg));
}
