<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kevin Thomas</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/public/styles/thenewstyle.css" />
    <link rel="stylesheet" href="/public/styles/trendingstyles.css" />

    <!-- Fonts -->
    <link href="https://fontsforweb.com/font/getcss?id=79748&apikey=4e36c4607898bde640c03ac05b492f25" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- Libraries -->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Parallax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>

    <!-- Scripts -->
    <script src="/public/scripts/index.js"></script>

  </head>
  <body id="body" class="flex flex-row items-center overflow-hidden">
    <div id="scene" class="flex flex-row items-center justify-between w-screen h-screen bg-matteBlack">
      <div id="intro" data-depth="0.1" class="hidden flex flex-col items-start ml-20 max-w-lg">
        <h1 class="text-gray-300 font-circular">Kevin Thomas</h1>
        <h6 class="text-lg font-opensans text-lightWhite">Hello, I'm Kevin Thomas. I'm a 13 year old student, developer and an aspiring tech entrepreneur based in Toronto.</h6>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center bg-matteBlack h-screen">
        <div id="arrow" class="cursor-pointer hidden mr-20 text-6xl text-skyBlue font-opensans"><i class="ri-arrow-right-circle-fill"></i></div>
    </div>
    <div id="panel" class="hidden flex flex-row items-center justify-center w-0 h-screen bg-matteBlack border-l-2 border-lightWhite">
      <div id="panelContent" class="flex flex-col items-center justify-center overflow-hidden">
        <div class="cardLink flex flex-col items-center justify-center">
          <a href="/projects"><h1 class="cursor-pointer font-circular text-lightWhite hover:text-skyBlue">Projects</h1></a>
        </div>
        <div class="cardLink flex flex-col items-center justify-center">
          <a href="/projects"><h1 class="cursor-pointer font-circular text-lightWhite hover:text-skyBlue">Awards</h1></a>
        </div>
        <div class="cardLink flex flex-col items-center justify-center">
          <a href="/socials"><h1 class="cursor-pointer font-circular text-lightWhite hover:text-skyBlue whitespace-no-wrap">Socials</h1></a>
        </div>
      </div>
    </div>
  </body>
</html>
