<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kevin Thomas</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/public/styles/thenewstyle.css" />
    <link rel="stylesheet" href="/public/styles/trendingstyles.css" />


    <!-- Fonts -->
    <link href='//fontsforweb.com/font/getcss?id=79748&apikey=4e36c4607898bde640c03ac05b492f25' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">


    <!-- Icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">


    <!-- Libraries -->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- Scripts -->
    <script src="/public/scripts/socials.js"></script>
    <script src="/public/scripts/redirect.js"></script>

  </head>
  <body id="body" class="flex flex-col items-center justify-center w-screen h-screen overflow-y-scroll overflow-x-hidden md:overflow-hidden">
    <div class="flex flex-col items-center justify-center h-screen w-screen bg-matteBlack">
      <div class="flex flex-row items-center justify-center mb-10">
        <i id="back" class="ri-arrow-left-circle-fill mr-4 text-6xl text-skyBlue cursor-pointer"></i>
        <h1 class="text-6xl text-lightWhite font-circular noselect">Socials</h1>
      </div>
      <div class="flex flex-col md:flex-row items-center justify-center slideFromBottom">
        <a href="https://discord.gg/P8vwPqr" target="_blank" class="flex flex-col items-center justify-center mx-10">
          <img id="discord" src="/public/assets/images/discordLogo-white.svg" width="256px"/>
        </a>
        <a href="https://github.com/TrustedMercury" target="_blank" class="flex flex-col items-center justify-center mx-10">
          <img id="github" src="/public/assets/images/githubLogo-white.svg" width="256px"/>
        </a>
        <a href="https://twitter.com/TrustedMercury" target="_blank" class="flex flex-col items-center justify-center mx-10">
          <img id="twitter" src="/public/assets/images/twitterLogo-white.svg" width="256px"/>
        </a>
      </div>
    </div>
  </body>
</html>
